body{
  background: #222;
  font-family: tahoma, verdana, sans serif;
  color: white;
}

h1 {
  font-family: 'Tahoma';
}

#drawSection, #chatSection, #scoreSection {
  width: 50%;
  float: left;
}

canvas {
  border: 1px solid #bbb;
  margin: 0 auto;
}

#controls {
  margin-bottom: 3px;
  text-align: center;
}

label {
  font-size: 16px;
  margin-right: 0.75em;
}

#chatSection {
  margin-top: 27px;
  text-align: center;
}

#scoreSection, h1 {
  text-align: center;
}

p {
  font-size: 18px;
}